.git

Doxyfile

# Build
build/
*.o

# Testing
resources/
test/

# Workspaces
*.sublime-*
*.vim

# Debug
*.json
*.a
vgcore*

# Valgrind
*.log
valgrind.supp
valgrind_output.txt.core.*

# clangd
.cache/

# Backups
backup/
bakups/
*.bak

# Other
*.ini
*.png
*.jpg
