.git

Doxyfile

# Build
build/
*.o

# Testing
resources/
test/
examples/

# Workspaces
*.vim

# Debug
*.json
*.a
vgcore*

# Valgrind
*.log
valgrind*

# clangd
.cache/

# Backups
backup/
bakups/
*.bak

# Others
*.ini
*.png
*.jpg
